body .modal-admin {
    /* new custom width */
    width: 100%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: 50%; */
}

.page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.page-links-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

