p {
    margin: 0 0 15px;
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}

body .modal-admin {
    /* new custom width */
    width: 100%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: 50%; */
}

.page-footer {
    /* padding-top: 0px; */
    padding-bottom: 50px;
    margin-top: -25px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.page-footer-links li+li {
    margin-left: 15px;
}

.page-footer-links li {
    display: inline-block;
}

.page-footer-links {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
    margin-top: 80px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.page-footer-links a {
    color: #fff;
}

page-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

