.project-list {
    .ui {
        &.loading.segment {
            min-height: 60px;
        }

        &.dimmer {
            position: relative;
            min-height: 200px;
        }
    }

    td > a {
        cursor: pointer;
    }
}
