.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-content {}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

div.jumbotron {
    margin-top: 53px;
    padding-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 0;
    color: white;
    text-shadow: 0 3px 0 rgba(0,0,0,.1);
    background-color: rgba(0, 0, 0, 0.54);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54) ), url("./img/headphones.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
        line-height: 30px;
    }

    .ui.header {
        &.white {
            color: white;
        }
    }

    .sub.header {
        &.white {
            color: white;
        }
    }
}

.text-ajax-loading {
    color: #E57E00;
}

.text-ajax-failure {
    color: red;
}

.text-center {
    text-align: center;
}

.footerIcon {
    margin-top: 20px !important;
}
