.myNavbar {
    .myNavbarTop {
        border-top: 2px solid red;
    }

    .myNavbarMiddle {
        border-radius: 0;
        border-bottom: 2px solid hsla(194, 66%, 61%, 0.51);
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand > img {
    pointer-events: none;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
}
